<div class="details">
    <div class="jumbotron">
      <div class="container">
          <div class="col-md-offset-2 col-md-8">              
          </div>
      </div>
    </div>
    <div class="container-fluid" >
        <div class="container">
            <div class="col-md-6">
                <span class="img-detail">
                    <img class="img-responsive center-block" src="{{details.sprites.front_default}}">
                    <p class="bulbasaur">{{details.name}}</p>
                </span>
            </div>
            <div class="col-md-6">
                <hr/>
                <p>{{description}}</p>
                <hr/>
                
                <div class="row">
                    <div class="col-md-6">
                        <p><b>Altura: </b>{{details.height | meters}}mt</p>
                        <p><b>Peso: </b>{{details.weight}}kg</p>
                        <p><b>Sexo: </b>no disponible</p>
                    </div>
                    <div class="col-md-6">
                        <p><b>Categoría: </b> <span ng-repeat="type in details.types">{{type.type.name}} </span></p>
                        <p><b> Habilidad: </b> <span ng-repeat="ability in details.abilities">{{ability.ability.name}} </span></p>
                        <p><b>Debilidad: </b>no disponible</p>
                    </div>
                </div>          
            </div>         
            <div class="col-md-12">                   
                <div class="col-sm-offset-1 col-sm-2">
                    <h2>Altura</h2>
                    <div class="c100 p{{details.height}} small center">
                        <span>{{details.height}}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-2">
                    <h2>Defensa</h2>
                    <div class="c100 p{{details.stats[3].base_stat}} small green center">
                        <span>{{details.stats[3].base_stat}}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>                  
                </div>
                
                <div class="col-sm-2">
                    <h2>Ataque Especial</h2>
                    <div class="c100 p{{details.stats[2].base_stat}} small orange center">
                        <span>{{details.stats[2].base_stat}}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <h2>Defensa Especial</h2>
                    <div class="c100 p{{details.stats[1].base_stat}} small center">
                        <span>{{details.stats[1].base_stat}}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-2">
                    <h2>Velocidad</h2>
                    <div class="c100 p{{details.stats[0].base_stat}} small green center">
                        <span>{{details.stats[0].base_stat}}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>                 
                </div>            
            </div>  
        </div>
    </div> 
</div>